<h2>Users</h2>
<button (click)="addUser({firstName:'Clint', lastName:'rizzo', age:30})" [disabled]="!enableAdd" class="btn btn-block mb-3">Add New User</button>
<ul class="list-unstyled" *ngIf = 'loaded && users.length > 0'>
  <li class="card card-body mb-3" *ngFor="let user of users" [class.bg-light]='user.isActive'>
      <div class="col-sm-8">
        <h3>{{ user.firstName | uppercase }} {{ user.lastName | uppercase }}</h3>
        <ul class="list-group" *ngIf="showExtended">
          <li class="list-group-item">Age: {{ user.age }}</li>
          <li class="list-group-item">Joined: {{user.registered | date}}</li>
        </ul>
      </div>
  </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users Found</h4>
<h4 *ngIf="!loaded">Loading Users...</h4>